@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*{
    font-family: 'Raleway', sans-serif;
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    word-spacing: 3px;
    font-size: 16px;  
    
}
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  /* line-height: 1.8em; */
  text-transform: none;
  letter-spacing: .075em;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  color: #161615;
  background-color: rgb(250, 244, 244);
  display: block;
}

.navbar{
    /* background: linear-gradient(to right,#BE93C5 , #7BC6CC); */
    /* background-color: #254058; */
    background-image: linear-gradient(to left bottom, #15212c, #0b1016, #53708e, #070312, #35343a);
}
.footerBg {
  background-image: linear-gradient(to right bottom, #dee3e8, #354658, #bcbfc2, #030713, #4b4243);
}

/* admin login page */
.form-control-borderless {
  border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

@media only screen and (max-width: 767px) {
.hide-on-mobile {
  display: none;
}
}

.login-box {
background: url(https://i.imgur.com/73BxBuI.png);
background-size: cover;
background-position: center;
padding: 50px;
margin: 50px auto;
min-height: 700px;
-webkit-box-shadow: 0 2px 60px -5px rgba(0, 0, 0, 0.1);
box-shadow: 0 2px 60px -5px rgba(0, 0, 0, 0.1);
}

.signup-box {
 
  background-size: cover;
  background-position: center;
  /* padding: 50px; */
  margin: 50px auto;
  min-height: 700px;
  -webkit-box-shadow: 0 2px 60px -5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 60px -5px rgba(0, 0, 0, 0.1);
  }

.logo {
font-family: "Script MT";
font-size: 54px;
text-align: center;
color: #888888;
margin-bottom: 50px;
}

.logo .logo-font {
color: #3BC3FF;
}

@media only screen and (max-width: 767px) {
.logo {
  font-size: 34px;
}
}

.header-title {
text-align: center;
margin-bottom: 50px;
}

.login-form {
max-width: 300px;
margin: 0 auto;
}

.login-form .form-control {
border-radius: 0;
margin-bottom: 30px;
}

.login-form .form-group {
position: relative;
}

.login-form .form-group .forgot-password {
position: absolute;
top: 6px;
right: 15px;
}

.login-form .btn {
border-radius: 0;
-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
margin-bottom: 30px;
}

.login-form .btn.btn-primary {
background: #3BC3FF;
border-color: #31c0ff;
}

.slider-feature-card {
background: #fff;
max-width: 280px;
margin: 0 auto;
padding: 30px;
text-align: center;
-webkit-box-shadow: 0 2px 25px -3px rgba(0, 0, 0, 0.1);
box-shadow: 0 2px 25px -3px rgba(0, 0, 0, 0.1);
}

.slider-feature-card img {
height: 80px;
margin-top: 30px;
margin-bottom: 30px;
}

.slider-feature-card h3,
.slider-feature-card p {
margin-bottom: 30px;
}

.carousel-indicators {
bottom: -50px;
}

.carousel-indicators li {
cursor: pointer;
}

/* testimonial  */

.testimonial-card .card-up {
  height: 120px;
  overflow: hidden;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.testimonial-card .avatar {
  width: 110px;
  margin-top: -60px;
  overflow: hidden;
  border: 3px solid #fff;
  border-radius: 50%;
}

/* react data table style  */
[data-column-id="1"].rdt_TableCol {
  color: white;
}
[data-column-id="2"].rdt_TableCol {
  color: white;
}
[data-column-id="3"].rdt_TableCol {
  color: white;
}

/* dashboard */
.card-title, .card-text {
  color : black
}
.card-text {
  font-size: 30px;
}

/* add truck */
.get-in-touch {
  max-width: 800px;
  margin: 50px auto;
  position: relative;

}
.get-in-touch .title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 3.2em;
  line-height: 48px;
  padding-bottom: 48px;
     color: #5543ca;
    background: #5543ca;
    background: -moz-linear-gradient(left,#f4524d  0%,#5543ca 100%) !important;
    background: -webkit-linear-gradient(left,#f4524d  0%,#5543ca 100%) !important;
    background: linear-gradient(to right,#f4524d  0%,#5543ca  100%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

.contact-form .form-field {
  position: relative;
  margin: 32px 0;
}
.contact-form .input-text {
  display: block;
  width: 100%;
  height: 36px;
  border-width: 0 0 2px 0;
  border-color: #5543ca;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}
.contact-form .input-text:focus {
  outline: none;
}
.contact-form .input-text:focus + .label,
.contact-form .input-text.not-empty + .label {
  -webkit-transform: translateY(-24px);
          transform: translateY(-24px);
}
.contact-form .label {
  position: absolute;
  left: 20px;
  bottom: 11px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #5543ca;
  cursor: text;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, 
  -webkit-transform .2s ease-in-out;
}
.contact-form .submit-btn {
  display: inline-block;
  background-color: #000;
   background-image: linear-gradient(125deg,#a72879,#064497);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  padding: 8px 16px;
  border: none;
  width:200px;
  cursor: pointer;
}
